.workstation__synchronization__page__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workstation__synchronization__container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  height: 525px;
  width: 1000px;
  padding: 20px;
  padding-right: 40px;
}

.employees__synchronization__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 325px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.workstation__synchronization__container .buttons__container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 50px;
}
