.generic-modal:modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 400px;
  min-height: 400px;
  border-radius: 28px 0px 24px 24px;
  border: 0;
  padding: 16px;
  box-shadow: 2px 2px 4px 0px #00000029;
}

.generic-modal::backdrop {
  background-color: #000000;
  opacity: 0.4;
  filter: blur(3px);
}

.generic-modal .close-modal {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
}
