@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html,
body,
.root {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.container .videos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.container .videos .video {
  display: flex;
  width: 400px;
  gap: 4px;
  padding: 16px;
  flex-direction: column;
}

.container .videos .video .camera {
  width: 400px;
  background-color: #00000011;
}

.primary {
  background-color: black;
  padding: 16px 32px;
  cursor: pointer;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.primary:hover {
  color: black;
  background-color: white;
  border: 1px solid #000;
}

.secondary {
  padding: 16px 32px;
  color: black;
  font-weight: 500;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
  text-transform: uppercase;
}

.secondary:hover {
  background-color: black;
  color: white;
  border: 0;
}
