.signUpPage {
    display: flex;
}

.page-content.blur {
    filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 100;
  }  

.upper-title {
    position: absolute;
    top: 62px;
    left: 520px;
    width: 174px;
    height: 49px;
    text-align: left;
    font: normal normal 600 36px/28px Open Sans;
    letter-spacing: 0px;
    color: #191818;
    opacity: 1;
}

.column-title-name {
    position: absolute;
    top: 243px;
    left: 535px;
    text-align: left;
    font: normal normal 600 24px/29px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 2;
}

.column-title-enrollment {
    position: absolute;
    top: 243px;
    left: 910px;
    text-align: left;
    font: normal normal 600 24px/29px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 3;
}

.column-title-permissions {
    position: absolute;
    top: 243px;
    left: 1175px;
    text-align: left;
    font: normal normal 600 24px/29px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 3;
}

.column-title-actions {
    position: absolute;
    top: 243px;
    left: 1440px;
    text-align: left;
    font: normal normal 600 24px/29px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 3;
}

.awesome-users-icon {
    top: 60.5px;
    left: 470px;
    position: absolute;
    height: 30px;
    width: 42px;
}

.shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 3;
}