.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  color: #191818;
  font-size: 36px/28px;
  font-weight: bold;
}

.header .status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header .status .live {
  font-size: 24px/33px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header .status .todayis {
  font-size: 16px/2px;
  font-style: italic;
}
