.Sidebar__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Open Sans';
  font-weight: bold;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  background-color: #141533;
  border-radius: 38px 0px 38px 38px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  margin: 15px;
}

.Sidebar__button:hover {
  background-color: #162d40;
}

.Sidebar__button img {
  width: 35px;
  padding-right: 15px;
}

.button__active {
  color: white;
  background-color: #2164f0;
}

.button__active:hover {
  background-color: #141ed9;
}