.backRectangle {
  display: flex;
  width: 1150px;
  height: 650px;
  background-color: #EFF1F5;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 22px;
  justify-content: space-around;
  flex-direction: column;
}

.refresh-icon {
  width: 150px;
  height: 35px;
  cursor: pointer;
  margin-top: 1.5%;
  margin-left: 28%;
}

.refresh-icon:hover {
  opacity: 0.6;
}

.buttons-and-searchBar {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3%;
}

.search-bar-area {
  margin-left: 1.7%;
  margin-right: 45%;
}

.list-and-header {
  margin-left: 2%;
}

.button-to-add {
  margin-right: 2.8%;
}

.refresh-icon-and-button {
  display: flex;
  margin-right: 3%;
  margin-top: 1%;
}

.signup-window-area {
  display: flex;
  margin-top: -27%;
  margin-left: 50%;
}
