.container .content .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.container .content .cards .card {
  --badge-color: #bfc0c3;
  width: 48%;
  flex-wrap: wrap;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #f9f9f9;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 32px;
  position: relative;
}

.container .content .cards .card.off {
  --badge-color: #bfc0c3;
}

.container .content .cards .card.alert {
  --badge-color: #f9b74b;
}

.container .content .cards .card.critical {
  --badge-color: #f86464;
}

.container .content .cards .card::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 16px;
  left: 0;
  top: 0;
  border-radius: 6px 0px 0px 6px;
  background-color: var(--badge-color);
}

.container .content .cards .card .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container .content .notifications .cards .card {
  width: 100%;
}

.container .content .cards .card .profile {
  object-fit: cover;
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.container .content .cards .card.none {
  opacity: 0.5;
}
