.vertical-list {
  display: flex;
  width: 1100px;
  height: 440px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0px 0px 14px 14px;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 12px;
}

.vertical-list a {
  background-color: #FFFFFF;
  color: black;
  display: flex;
  padding: 12px;
  text-decoration: none;
  border: 1px solid #E3E3E3;
  justify-content: flex-start;
}

.vertical-list a:hover {
  background-color: #ccc;
}

.image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5.5%;
  width: 5%;
}

.name-area {
  width: 71%;
  padding-left: 0.8%;
}

.enrollment-area {
  width: 50%;
}

.permissions-area {
  width: 20%;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(218, 210, 210);
}

.trashCan-icon {
  color: rgb(213, 10, 10);
  cursor: pointer;
}

.trashCan-icon-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 19%;
  margin-right: 6.6%;
}

.confirmation-box {
  transform: translate(-50%, -50%);
  width: 350px;
  height: 135px;
  border: none;
  border-radius: 35px 0px 0px 0px;
  background-color: #141533;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 101;
}

.confirmation-box .white-half {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #FFFFFF;
  position: absolute;
}

.employee-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 404.5px;
  height: 250px;
  padding: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px 0px 0px 0px;
}

.cancel-delete-button {
  background-color: transparent;
  color: #707070;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #707070;
  cursor: pointer;
  position: absolute;
  top: 80px;
  width: 100px;
  left: 60px;
  height: 37px;
  border-radius: 20px;
  opacity: 1;
  font: normal normal normal 16px/20px Open Sans;
}

.exclude-button {
  background-color: rgb(213, 10, 10);
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 80px;
  width: 140px;
  left: 170px;
  height: 37px;
  border-radius: 20px;
  opacity: 1;
  font: normal normal normal 16px/20px Open Sans;
}

.title-confirmation-deleting {
  font: normal normal normal 20px/20px Open Sans;
  color: white;
  position: fixed;
}
