
.fatigue-event{
  display: flex;
  flex-direction:row;
  position: relative;
}


.fatigue-event .fatigue-card{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 16px;

}

.fatigue-event .fatigue-card ::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  border-radius: 4px;
  background-color: #5522D3;
  margin-right: 4px;
}

li{
    list-style: none;
}
p{
  font: normal normal normal 16px/20px Open Sans;
letter-spacing: 0px;
color: #636363; 
text-indent: 5px;
}

.fatigue-info{
  font: normal normal 600 16px/20px Open Sans;
  letter-spacing: 0px;
  color: #636363;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;

}


