* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

#root,
body,
html {
  width: 100%;
  min-height: 100vh;
}

ul {
  list-style: none;
}

.button {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
}

.container .content {
  width: 100%;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'workstations workstations workstations workstations notifications';
  padding: 24px;
  background-color: #eff1f5;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 22px;
}

.container .content .header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 0px;
  gap: 8px;
}

.container .content .header .title {
  font-style: italic;
  font-size: 22px/28px;
  font-weight: bold;
}

.container .content .workstations {
  grid-area: workstations;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.container .content .workstations .title {
  color: #191818;
  font-weight: bold;
  font-size: 36px/28px;
}

.container .content .notifications {
  grid-area: notifications;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}

.container .content .notifications .title {
  font-size: 22px/28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

* ::-webkit-scrollbar {
  background-color: #dadcdf;
  width: 16px;
  border-radius: 8px;
}

* ::-webkit-scrollbar-thumb {
  background-color: #9b9a9a;
  border-radius: 8px;
}
